
body {
    background-color: black;
    margin : 0;
    padding : 0;
    
    
}

h1 {
    color: yellowgreen;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    line-height: 1.4em;

    margin: 40px 0;
}

.box{
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    border-bottom: 1px solid yellowgreen;
    box-sizing: border-box;
    
   
}



.time{
    color: yellowgreen;
    text-align: right;
    font-size: 1.2em;
}

.label{
    color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-right: 10px;
    
    float: left;
}

.value{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    float: left;
}

.score{
    color: yellowgreen;
    text-align: right;
    font-size: 1.2em;
}   

.label1{
    color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-right: 10px;
    text-align: left;
}

.value1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    text-align: left;
}


canvas{
    display: block;
    margin: 20px auto;
   
    border: 2px solid yellowgreen;
    width: 600px;
    height: 600px;
    
}



