body {
    background-color: black;
}

h1 {
    color: yellowgreen;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    line-height: 1.4em;

    margin: 40px 0;
}

.box{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid yellowgreen;
}

.left{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}
.time{
    color: yellowgreen;
    text-align: right;
    font-size: 1.2em;
}

.label{
    color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-right: 10px;
}

.value{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}